## Dataset Creation

#### Read CSVs

In [1]:
import pandas as pd

df = pd.read_csv("Data/nrg_bal_c_linear_2_0.csv", encoding='utf-8')

C:\Users\joelm\AppData\Local\Temp\ipykernel_1056\3802414416.py:3: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/nrg_bal_c_linear_2_0.csv", encoding='utf-8')

In [ ]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,nrg_bal,Energy balance,siec,Standard international energy product classification (SIEC),unit,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NRG_BAL_C(1.0),Complete energy balances,A,Annual,AFC,Available for final consumption,BIOE,Bioenergy,GWH,...,AL,Albania,1990,NaN,4221.944,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NRG_BAL_C(1.0),Complete energy balances,A,Annual,AFC,Available for final consumption,BIOE,Bioenergy,GWH,...,AL,Albania,1991,NaN,4221.944,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NRG_BAL_C(1.0),Complete energy balances,A,Annual,AFC,Available for final consumption,BIOE,Bioenergy,GWH,...,AL,Albania,1992,NaN,4221.944,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NRG_BAL_C(1.0),Complete energy balances,A,Annual,AFC,Available for final consumption,BIOE,Bioenergy,GWH,...,AL,Albania,1993,NaN,4029.722,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NRG_BAL_C(1.0),Complete energy balances,A,Annual,AFC,Available for final consumption,BIOE,Bioenergy,GWH,...,AL,Albania,1994,NaN,3846.389,NaN,NaN,NaN,NaN,NaN

#### General Dataframe

In [ ]:
df_general = df[['geo', 'TIME_PERIOD', 'nrg_bal', 'OBS_VALUE']]

variables_interes = [
    'GEP', 'GEP_MAPE', 'GEP_MAPCHP',
    'GHP', 'GHP_MAPCHP',
    'FC_E', 'FC_IND_E', 'FC_TRA_E', 'FC_OTH_E',
    'AFC', 'DL'
]
df_general = df_general[df_general['nrg_bal'].isin(variables_interes)]


df_general = df_general.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns='nrg_bal',
    values='OBS_VALUE',
    aggfunc='sum'
).reset_index()

df_general.to_csv("df_general.csv", index=False)
df_general

nrg_bal,geo,TIME_PERIOD,AFC,DL,FC_E,FC_IND_E,FC_OTH_E,FC_TRA_E,GEP,GEP_MAPCHP,GEP_MAPE,GHP,GHP_MAPCHP
0,AL,1990,450757.501,16885.012,391583.107,133143.887,207576.502,50862.720,48434.336,1836.904,46597.432,1837.948,1837.948
1,AL,1991,307164.393,12447.938,288940.108,85605.784,164844.688,38489.633,55079.062,1237.100,53841.962,1228.772,1228.772
2,AL,1992,217728.592,13551.132,205328.939,50839.117,124880.646,29609.176,48499.938,693.524,47806.414,687.280,687.280
3,AL,1993,195823.472,15983.091,186007.159,37592.234,111433.136,36981.789,50618.006,880.964,49737.039,879.920,879.920
4,AL,1994,207039.769,17645.074,185311.988,33604.680,105024.491,46682.820,56199.012,693.524,55505.488,697.692,697.692
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,XK,2019,317193.049,16104.672,305501.238,60262.465,151898.045,93340.721,117565.056,0.000,117564.072,2306.656,0.000
1290,XK,2020,318681.843,13318.497,306253.169,60623.453,153730.421,91899.295,124091.479,0.000,124091.479,2583.130,0.000
1291,XK,2021,356448.358,14576.394,330662.154,65859.994,163630.262,101171.900,127121.832,0.000,127121.832,2844.420,0.000
1292,XK,2022,308523.553,12123.265,292734.200,59332.310,139654.259,93747.624,128184.245,0.000,128184.245,2717.872,0.000
1293,XK,2023,317403.034,10766.592,301146.708,63733.745,136405.631,101007.333,115312.378,0.000,115312.378,2878.266,0.000

##### Resume df_general

In [ ]:

column_split = [col.split('_', 1) if '_' in col else [col, ''] for col in df_general.columns]

df_columns = pd.DataFrame(column_split, columns=['Variable', 'Combustible'])

print("Número de columnas por variable:")
print(df_columns.groupby('Variable').size())

print("\nLista de combustibles presentes:")
print(df_columns['Combustible'].unique())

print("\nTodas las columnas del DataFrame:")
print(df_general.columns.tolist())

Número de columnas por variable:
Variable
AFC     1
DL      1
FC      4
GEP     3
GHP     2
TIME    1
geo     1
dtype: int64

Lista de combustibles presentes:
['' 'PERIOD' 'E' 'IND_E' 'OTH_E' 'TRA_E' 'MAPCHP' 'MAPE']

Todas las columnas del DataFrame:
['geo', 'TIME_PERIOD', 'AFC', 'DL', 'FC_E', 'FC_IND_E', 'FC_OTH_E', 'FC_TRA_E', 'GEP', 'GEP_MAPCHP', 'GEP_MAPE', 'GHP', 'GHP_MAPCHP']

#### Specific Dataframe

In [ ]:
print(df['siec'].unique())

['BIOE' 'C0000X0350-0370' 'C0110' 'C0121' 'C0129' 'C0210' 'C0220' 'C0311'
 'C0312' 'C0320' 'C0330' 'C0340' 'C0350' 'C0350-0370' 'C0360' 'C0371'
 'C0379' 'E7000' 'FE' 'G3000' 'H8000' 'N900H' 'O4000XBIO' 'O4100_TOT'
 'O4200' 'O4300' 'O4400X4410' 'O4500' 'O4610' 'O4620' 'O4630' 'O4640'
 'O4651' 'O4652XR5210B' 'O4653' 'O4661XR5230B' 'O4669' 'O4671XR5220B'
 'O4680' 'O4691' 'O4692' 'O4693' 'O4694' 'O4695' 'O4699' 'P1000' 'P1100'
 'P1200' 'R5110-5150_W6000RI' 'R5160' 'R5210B' 'R5210P' 'R5220B' 'R5220P'
 'R5230B' 'R5230P' 'R5290' 'R5300' 'RA000' 'RA100' 'RA200' 'RA300' 'RA410'
 'RA420' 'RA500' 'RA600' 'S2000' 'TOTAL' 'W6100' 'W6100_6220' 'W6210'
 'W6220']

In [ ]:
df_siec = df[['geo', 'TIME_PERIOD', 'nrg_bal', 'siec', 'OBS_VALUE']]

variables_interes = [
    'GEP', 'GEP_MAPE', 'GEP_MAPCHP',
    'GHP', 'GHP_MAPCHP',
    'FC_E', 'FC_IND_E', 'FC_TRA_E', 'FC_OTH_E',
    'AFC', 'DL'
]
df_siec = df_siec[df_siec['nrg_bal'].isin(variables_interes)]

siec_map = {
    'BIOE': 'Bioenergía',
    'C0000X0350-0370': 'Petróleo',
    'C0110': 'Petróleo',
    'C0121': 'Petróleo',
    'C0129': 'Petróleo',
    'C0210': 'Gas',
    'C0220': 'Gas',
    'C0311': 'Carbón',
    'C0312': 'Carbón',
    'C0320': 'Carbón',
    'C0330': 'Carbón',
    'C0340': 'Carbón',
    'C0350': 'Petróleo',
    'RA000': 'Nuclear',
    'RA100': 'Nuclear',
    'RA200': 'Nuclear',
    'RA300': 'Nuclear',
    'RA410': 'Nuclear',
    'RA420': 'Nuclear',
    'RA500': 'Nuclear',
    'RA600': 'Nuclear',
    'S2000': 'Renovables_total',
    'W6100': 'Hidráulica',
    'W6210': 'Eólica',
    'W6220': 'Solar'
}
df_siec = df_siec[df_siec['siec'].isin(siec_map.keys())]
df_siec['siec'] = df_siec['siec'].map(siec_map)

df_siec = df_siec.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns=['nrg_bal', 'siec'],
    values='OBS_VALUE',
    aggfunc='sum'
)

df_siec.columns = [f'{var}_{siec}' for var, siec in df_siec.columns]
df_siec.reset_index(inplace=True)

df_siec.to_csv("df_siec.csv", index=False)
df_siec

,geo,TIME_PERIOD,AFC_Bioenergía,AFC_Carbón,AFC_Eólica,AFC_Gas,AFC_Hidráulica,AFC_Nuclear,AFC_Petróleo,AFC_Renovables_total,...,GHP_Solar,GHP_MAPCHP_Bioenergía,GHP_MAPCHP_Carbón,GHP_MAPCHP_Eólica,GHP_MAPCHP_Gas,GHP_MAPCHP_Hidráulica,GHP_MAPCHP_Nuclear,GHP_MAPCHP_Petróleo,GHP_MAPCHP_Renovables_total,GHP_MAPCHP_Solar
0,AL,1990,19783.966,7270.565,0.0,15361.903,0.0,19783.966,39635.720,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,1991,19783.966,4005.736,0.0,8212.661,0.0,19783.966,23553.896,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AL,1992,19783.966,963.231,0.0,2267.771,0.0,19783.966,6773.344,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AL,1993,18883.216,989.263,0.0,1473.410,0.0,18883.216,2462.673,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AL,1994,18024.119,52.066,0.0,2101.211,0.0,18024.119,2153.277,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,XK,2019,20435.560,0.145,0.0,1044.256,0.0,20476.138,1076.474,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1290,XK,2020,20261.255,0.000,0.0,1597.746,0.0,20302.277,1910.805,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1291,XK,2021,20182.340,0.000,0.0,1514.318,0.0,20226.170,2349.266,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1292,XK,2022,14274.669,0.000,0.0,1225.117,0.0,14310.574,1707.735,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1293,XK,2023,14391.962,0.000,0.0,-701.050,0.0,14428.266,373.387,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Creating totals

In [ ]:

afc_cols = [col for col in df_siec.columns if col.startswith('AFC_')]
df_siec['AFC_total'] = df_siec[afc_cols].sum(axis=1)

dl_cols = [col for col in df_siec.columns if col.startswith('DL_')]
df_siec['DL_total'] = df_siec[dl_cols].sum(axis=1)

fc_cols = [col for col in df_siec.columns if col.startswith('FC_E_')]
df_siec['FC_E_total'] = df_siec[fc_cols].sum(axis=1)

fc_ind_cols = [col for col in df_siec.columns if col.startswith('FC_IND_E_')]
df_siec['FC_IND_total'] = df_siec[fc_ind_cols].sum(axis=1)

fc_tra_cols = [col for col in df_siec.columns if col.startswith('FC_TRA_E_')]
df_siec['FC_TRA_total'] = df_siec[fc_tra_cols].sum(axis=1)

fc_oth_cols = [col for col in df_siec.columns if col.startswith('FC_OTH_E_')]
df_siec['FC_OTH_total'] = df_siec[fc_oth_cols].sum(axis=1)

df_siec.to_csv("df_siec.csv", index=False)
df_siec

,geo,TIME_PERIOD,AFC_Bioenergía,AFC_Carbón,AFC_Eólica,AFC_Gas,AFC_Hidráulica,AFC_Nuclear,AFC_Petróleo,AFC_Renovables_total,...,GHP_MAPCHP_Nuclear,GHP_MAPCHP_Petróleo,GHP_MAPCHP_Renovables_total,GHP_MAPCHP_Solar,AFC_total,DL_total,FC_E_total,FC_IND_total,FC_TRA_total,FC_OTH_total
0,AL,1990,19783.966,7270.565,0.0,15361.903,0.0,19783.966,39635.720,0.0,...,0.0,0.0,0.0,0.0,101836.120,0.0,101836.120,17590.561,0.0,84245.559
1,AL,1991,19783.966,4005.736,0.0,8212.661,0.0,19783.966,23553.896,0.0,...,0.0,0.0,0.0,0.0,75340.225,0.0,75340.225,11849.396,0.0,63490.829
2,AL,1992,19783.966,963.231,0.0,2267.771,0.0,19783.966,6773.344,0.0,...,0.0,0.0,0.0,0.0,49572.278,0.0,49572.278,3542.344,0.0,46029.935
3,AL,1993,18883.216,989.263,0.0,1473.410,0.0,18883.216,2462.673,0.0,...,0.0,0.0,0.0,0.0,42691.778,0.0,42691.778,0.000,0.0,42691.778
4,AL,1994,18024.119,52.066,0.0,2101.211,0.0,18024.119,2153.277,0.0,...,0.0,0.0,0.0,0.0,40354.792,0.0,40354.792,0.000,0.0,40354.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,XK,2019,20435.560,0.145,0.0,1044.256,0.0,20476.138,1076.474,0.0,...,0.0,0.0,0.0,0.0,43032.573,0.0,43132.078,2724.974,0.0,40407.100
1290,XK,2020,20261.255,0.000,0.0,1597.746,0.0,20302.277,1910.805,0.0,...,0.0,0.0,0.0,0.0,44072.083,0.0,43544.553,3328.690,0.0,40215.864
1291,XK,2021,20182.340,0.000,0.0,1514.318,0.0,20226.170,2349.266,0.0,...,0.0,0.0,0.0,0.0,44272.094,0.0,43747.915,3982.900,0.0,39765.016
1292,XK,2022,14274.669,0.000,0.0,1225.117,0.0,14310.574,1707.735,0.0,...,0.0,0.0,0.0,0.0,31518.095,0.0,31777.181,3697.047,0.0,28080.132
1293,XK,2023,14391.962,0.000,0.0,-701.050,0.0,14428.266,373.387,0.0,...,0.0,0.0,0.0,0.0,28492.565,0.0,32051.553,4227.938,0.0,27823.613

##### Resume df_siec

In [ ]:


variables_base = ['AFC', 'DL', 'FC_E', 'FC_IND_E', 'FC_OTH_E', 'FC_TRA_E',
                  'GEP', 'GEP_MAPCHP', 'GEP_MAPE', 'GHP', 'GHP_MAPCHP', 
                  'TIME_PERIOD', 'geo']

column_split = []
for col in df_siec.columns:
    var_match = next((v for v in variables_base if col.startswith(v)), col)
    
    if '_' in col and var_match != col:
        combustible = col.split('_')[-1]
    else:
        combustible = ''

    if var_match.startswith('FC'):
        var_group = 'FC'
    elif var_match.startswith('AFC'):
        var_group = 'AFC'
    elif var_match.startswith('DL'):
        var_group = 'DL'
    elif var_match.startswith('GEP'):
        var_group = 'GEP'
    elif var_match.startswith('GHP'):
        var_group = 'GHP'
    elif var_match == 'TIME_PERIOD':
        var_group = 'TIME'
    elif var_match == 'geo':
        var_group = 'geo'
    else:
        var_group = var_match
    
    column_split.append([var_group, combustible])


df_columns = pd.DataFrame(column_split, columns=['Variable', 'Combustible'])

print("Número de columnas por variable:")
print(df_columns.groupby('Variable').size())

print("\nLista de combustibles presentes:")
print(df_columns['Combustible'].unique())

print("\nTodas las columnas del DataFrame:")
print(df_siec.columns.tolist())

Número de columnas por variable:
Variable
AFC     10
DL      10
FC      40
GEP     27
GHP     18
TIME     1
geo      1
dtype: int64

Lista de combustibles presentes:
['' 'Bioenergía' 'Carbón' 'Eólica' 'Gas' 'Hidráulica' 'Nuclear' 'Petróleo'
 'total' 'Solar']

Todas las columnas del DataFrame:
['geo', 'TIME_PERIOD', 'AFC_Bioenergía', 'AFC_Carbón', 'AFC_Eólica', 'AFC_Gas', 'AFC_Hidráulica', 'AFC_Nuclear', 'AFC_Petróleo', 'AFC_Renovables_total', 'AFC_Solar', 'DL_Bioenergía', 'DL_Carbón', 'DL_Eólica', 'DL_Gas', 'DL_Hidráulica', 'DL_Nuclear', 'DL_Petróleo', 'DL_Renovables_total', 'DL_Solar', 'FC_E_Bioenergía', 'FC_E_Carbón', 'FC_E_Eólica', 'FC_E_Gas', 'FC_E_Hidráulica', 'FC_E_Nuclear', 'FC_E_Petróleo', 'FC_E_Renovables_total', 'FC_E_Solar', 'FC_IND_E_Bioenergía', 'FC_IND_E_Carbón', 'FC_IND_E_Eólica', 'FC_IND_E_Gas', 'FC_IND_E_Hidráulica', 'FC_IND_E_Nuclear', 'FC_IND_E_Petróleo', 'FC_IND_E_Renovables_total', 'FC_IND_E_Solar', 'FC_OTH_E_Bioenergía', 'FC_OTH_E_Carbón', 'FC_OTH_E_Eólica', 'FC_OTH_E_Gas', 'FC_OTH_E_Hidráulica', 'FC_OTH_E_Nuclear', 'FC_OTH_E_Petróleo', 'FC_OTH_E_Renovables_total', 'FC_OTH_E_Solar', 'FC_TRA_E_Bioenergía', 'FC_TRA_E_Carbón', 'FC_TRA_E_Eólica', 'FC_TRA_E_Gas', 'FC_TRA_E_Hidráulica', 'FC_TRA_E_Nuclear', 'FC_TRA_E_Petróleo', 'FC_TRA_E_Renovables_total', 'FC_TRA_E_Solar', 'GEP_Bioenergía', 'GEP_Carbón', 'GEP_Eólica', 'GEP_Gas', 'GEP_Hidráulica', 'GEP_Nuclear', 'GEP_Petróleo', 'GEP_Renovables_total', 'GEP_Solar', 'GEP_MAPCHP_Bioenergía', 'GEP_MAPCHP_Carbón', 'GEP_MAPCHP_Eólica', 'GEP_MAPCHP_Gas', 'GEP_MAPCHP_Hidráulica', 'GEP_MAPCHP_Nuclear', 'GEP_MAPCHP_Petróleo', 'GEP_MAPCHP_Renovables_total', 'GEP_MAPCHP_Solar', 'GEP_MAPE_Bioenergía', 'GEP_MAPE_Carbón', 'GEP_MAPE_Eólica', 'GEP_MAPE_Gas', 'GEP_MAPE_Hidráulica', 'GEP_MAPE_Nuclear', 'GEP_MAPE_Petróleo', 'GEP_MAPE_Renovables_total', 'GEP_MAPE_Solar', 'GHP_Bioenergía', 'GHP_Carbón', 'GHP_Eólica', 'GHP_Gas', 'GHP_Hidráulica', 'GHP_Nuclear', 'GHP_Petróleo', 'GHP_Renovables_total', 'GHP_Solar', 'GHP_MAPCHP_Bioenergía', 'GHP_MAPCHP_Carbón', 'GHP_MAPCHP_Eólica', 'GHP_MAPCHP_Gas', 'GHP_MAPCHP_Hidráulica', 'GHP_MAPCHP_Nuclear', 'GHP_MAPCHP_Petróleo', 'GHP_MAPCHP_Renovables_total', 'GHP_MAPCHP_Solar', 'AFC_total', 'DL_total', 'FC_E_total', 'FC_IND_total', 'FC_TRA_total', 'FC_OTH_total']

#### Adding GDP

In [ ]:
df_gdp = pd.read_csv("Data/nama_10_gdp__custom_17992921_linear_2_0.csv", encoding='utf-8')  
df_gdp
print(df_gdp.columns.tolist())

['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency', 'unit', 'Unit of measure', 'na_item', 'National accounts indicator (ESA 2010)', 'geo', 'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE', 'Observation value', 'OBS_FLAG', 'Observation status (Flag) V2 structure', 'CONF_STATUS', 'Confidentiality status (flag)']

In [ ]:
df_gdp_sel = df_gdp[df_gdp['unit'].isin(['CLV20_MEUR', 'CLV20_MNAC', 'CLV_PCH_PRE'])]

df_gdp_sel = df_gdp_sel[['geo', 'TIME_PERIOD', 'unit', 'OBS_VALUE']]

df_gdp_pivot = df_gdp_sel.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns='unit',
    values='OBS_VALUE'
).reset_index()

df_gdp_pivot = df_gdp_pivot.rename(columns={
    'CLV20_MEUR': 'PIB_real_MEUR',
    'CLV20_MNAC': 'PIB_real_NAC',
    'CLV_PCH_PRE': 'PIB_growth_pct'
})

df_general = pd.merge(df_general, df_gdp_pivot, on=['geo', 'TIME_PERIOD'], how='left')
df_siec = pd.merge(df_siec, df_gdp_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_general.to_csv("df_general.csv", index=False)
df_siec.to_csv("df_siec.csv", index=False)

df_general

,geo,TIME_PERIOD,AFC,DL,FC_E,FC_IND_E,FC_OTH_E,FC_TRA_E,GEP,GEP_MAPCHP,GEP_MAPE,GHP,GHP_MAPCHP,PIB_real_MEUR,PIB_real_NAC,PIB_growth_pct
0,AL,1990,450757.501,16885.012,391583.107,133143.887,207576.502,50862.720,48434.336,1836.904,46597.432,1837.948,1837.948,NaN,NaN,NaN
1,AL,1991,307164.393,12447.938,288940.108,85605.784,164844.688,38489.633,55079.062,1237.100,53841.962,1228.772,1228.772,NaN,NaN,NaN
2,AL,1992,217728.592,13551.132,205328.939,50839.117,124880.646,29609.176,48499.938,693.524,47806.414,687.280,687.280,NaN,NaN,NaN
3,AL,1993,195823.472,15983.091,186007.159,37592.234,111433.136,36981.789,50618.006,880.964,49737.039,879.920,879.920,NaN,NaN,NaN
4,AL,1994,207039.769,17645.074,185311.988,33604.680,105024.491,46682.820,56199.012,693.524,55505.488,697.692,697.692,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,XK,2019,317193.049,16104.672,305501.238,60262.465,151898.045,93340.721,117565.056,0.000,117564.072,2306.656,0.000,7153.6,7153.6,4.8
1290,XK,2020,318681.843,13318.497,306253.169,60623.453,153730.421,91899.295,124091.479,0.000,124091.479,2583.130,0.000,6771.6,6771.6,-5.3
1291,XK,2021,356448.358,14576.394,330662.154,65859.994,163630.262,101171.900,127121.832,0.000,127121.832,2844.420,0.000,7499.2,7499.2,10.7
1292,XK,2022,308523.553,12123.265,292734.200,59332.310,139654.259,93747.624,128184.245,0.000,128184.245,2717.872,0.000,7820.2,7820.2,4.3
1293,XK,2023,317403.034,10766.592,301146.708,63733.745,136405.631,101007.333,115312.378,0.000,115312.378,2878.266,0.000,8138.4,8138.4,4.1

#### Addinng Emissions

In [ ]:

df_emi = pd.read_csv("Data/env_air_gge__custom_17993346_linear_2_0.csv", encoding='utf-8')  
df_emi

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,airpol,Air pollutants and greenhouse gases,src_crf,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,MIO_T,Million tonnes,CH4,Methane,CRF1,...,AT,Austria,1990,NaN,0.05434,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,MIO_T,Million tonnes,CH4,Methane,CRF1,...,AT,Austria,1991,NaN,0.04967,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,MIO_T,Million tonnes,CH4,Methane,CRF1,...,AT,Austria,1992,NaN,0.04875,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,MIO_T,Million tonnes,CH4,Methane,CRF1,...,AT,Austria,1993,NaN,0.04633,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,MIO_T,Million tonnes,CH4,Methane,CRF1,...,AT,Austria,1994,NaN,0.03952,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50995,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,THS_T,Thousand tonnes,N2O,Nitrous oxide,TOTXMEMO,...,SK,Slovakia,2019,NaN,5.55000,NaN,d,definition differs (see metadata),NaN,NaN
50996,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,THS_T,Thousand tonnes,N2O,Nitrous oxide,TOTXMEMO,...,SK,Slovakia,2020,NaN,5.64000,NaN,d,definition differs (see metadata),NaN,NaN
50997,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,THS_T,Thousand tonnes,N2O,Nitrous oxide,TOTXMEMO,...,SK,Slovakia,2021,NaN,5.25000,NaN,d,definition differs (see metadata),NaN,NaN
50998,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,THS_T,Thousand tonnes,N2O,Nitrous oxide,TOTXMEMO,...,SK,Slovakia,2022,NaN,4.94000,NaN,d,definition differs (see metadata),NaN,NaN
50999,dataflow,ESTAT:ENV_AIR_GGE(1.0),Greenhouse gas emissions by source sector,A,Annual,THS_T,Thousand tonnes,N2O,Nitrous oxide,TOTXMEMO,...,SK,Slovakia,2023,NaN,5.56000,NaN,d,definition differs (see metadata),NaN,NaN

In [ ]:
df_emi = df_emi[['geo', 'TIME_PERIOD', 'airpol', 'OBS_VALUE']]

df_emi_pivot = df_emi.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns='airpol',
    values='OBS_VALUE',
    aggfunc='sum' 
)


df_emi_pivot.columns = [f'EMI_{col}' for col in df_emi_pivot.columns]
df_emi_pivot.reset_index(inplace=True)

df_general = pd.merge(df_general, df_emi_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_siec = pd.merge(df_siec, df_emi_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_general.to_csv("df_general.csv", index=False)
df_siec.to_csv("df_siec.csv", index=False)


df_general

,geo,TIME_PERIOD,AFC,DL,FC_E,FC_IND_E,FC_OTH_E,FC_TRA_E,GEP,GEP_MAPCHP,...,GHP,GHP_MAPCHP,PIB_real_MEUR,PIB_real_NAC,PIB_growth_pct,EMI_CH4,EMI_CH4_CO2E,EMI_CO2,EMI_GHG,EMI_N2O
0,AL,1990,450757.501,16885.012,391583.107,133143.887,207576.502,50862.720,48434.336,1836.904,...,1837.948,1837.948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1991,307164.393,12447.938,288940.108,85605.784,164844.688,38489.633,55079.062,1237.100,...,1228.772,1228.772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,1992,217728.592,13551.132,205328.939,50839.117,124880.646,29609.176,48499.938,693.524,...,687.280,687.280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,1993,195823.472,15983.091,186007.159,37592.234,111433.136,36981.789,50618.006,880.964,...,879.920,879.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,1994,207039.769,17645.074,185311.988,33604.680,105024.491,46682.820,56199.012,693.524,...,697.692,697.692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,XK,2019,317193.049,16104.672,305501.238,60262.465,151898.045,93340.721,117565.056,0.000,...,2306.656,0.000,7153.6,7153.6,4.8,NaN,NaN,NaN,NaN,NaN
1290,XK,2020,318681.843,13318.497,306253.169,60623.453,153730.421,91899.295,124091.479,0.000,...,2583.130,0.000,6771.6,6771.6,-5.3,NaN,NaN,NaN,NaN,NaN
1291,XK,2021,356448.358,14576.394,330662.154,65859.994,163630.262,101171.900,127121.832,0.000,...,2844.420,0.000,7499.2,7499.2,10.7,NaN,NaN,NaN,NaN,NaN
1292,XK,2022,308523.553,12123.265,292734.200,59332.310,139654.259,93747.624,128184.245,0.000,...,2717.872,0.000,7820.2,7820.2,4.3,NaN,NaN,NaN,NaN,NaN
1293,XK,2023,317403.034,10766.592,301146.708,63733.745,136405.631,101007.333,115312.378,0.000,...,2878.266,0.000,8138.4,8138.4,4.1,NaN,NaN,NaN,NaN,NaN

#### Adding Efficiency

In [ ]:
df_eff = pd.read_csv("Data/nrg_ind_eff__custom_17993477_linear_2_0.csv", encoding='utf-8')  
df_eff

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,nrg_bal,Energy balance,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,AL,Albania,2005,NaN,2.13,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,AL,Albania,2006,NaN,2.05,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,AL,Albania,2007,NaN,1.93,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,AL,Albania,2008,NaN,2.05,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,AL,Albania,2009,NaN,2.01,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,XK,Kosovo*,2019,NaN,2.62,NaN,NaN,NaN,NaN,NaN
714,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,XK,Kosovo*,2020,NaN,2.61,NaN,NaN,NaN,NaN,NaN
715,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,XK,Kosovo*,2021,NaN,2.82,NaN,NaN,NaN,NaN,NaN
716,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,XK,Kosovo*,2022,NaN,2.64,NaN,NaN,NaN,NaN,NaN
717,dataflow,ESTAT:NRG_IND_EFF(1.0),Energy efficiency,A,Annual,PEC_EED,Primary energy consumption - Energy Efficiency...,MTOE,Million tonnes of oil equivalent,XK,Kosovo*,2023,NaN,2.51,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_eff = df_eff[['geo', 'TIME_PERIOD', 'nrg_bal', 'OBS_VALUE']]

df_eff_pivot = df_eff.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns='nrg_bal',
    values='OBS_VALUE',
    aggfunc='sum'
)


df_eff_pivot.columns = [f'EFF_{col}' for col in df_eff_pivot.columns]
df_eff_pivot.reset_index(inplace=True)

df_general = pd.merge(df_general, df_eff_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_siec = pd.merge(df_siec, df_eff_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_general.to_csv("df_general.csv", index=False)
df_siec.to_csv("df_siec.csv", index=False)

#### Adding Electricity Consumption

In [ ]:

df_cons = pd.read_csv("Data/nrg_pc_204__custom_17993638_linear_2_0.csv", encoding='utf-8')  
df_cons

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,product,Products,nrg_cons,Energy consumption,unit,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,AL,Albania,2011-S1,NaN,0.1152,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,AL,Albania,2011-S2,NaN,0.1157,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,AL,Albania,2012-S1,NaN,0.1163,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,AL,Albania,2012-S2,NaN,0.1167,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,AL,Albania,2013-S1,NaN,0.1156,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11791,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,UK,United Kingdom,2018-S1,NaN,0.1568,NaN,NaN,NaN,NaN,NaN
11792,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,UK,United Kingdom,2018-S2,NaN,0.1700,NaN,NaN,NaN,NaN,NaN
11793,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,UK,United Kingdom,2019-S1,NaN,0.1734,NaN,NaN,NaN,NaN,NaN
11794,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,UK,United Kingdom,2019-S2,NaN,0.1822,NaN,NaN,NaN,NaN,NaN
11795,dataflow,ESTAT:NRG_PC_204(1.0),Electricity prices for household consumers - b...,S,"Half-yearly, semesterly",6000,Electrical energy,KWH2500-4999,Consumption from 2 500 kWh to 4 999 kWh - band DC,KWH,...,UK,United Kingdom,2020-S1,NaN,0.1781,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_cons = df_cons[['geo', 'TIME_PERIOD', 'OBS_VALUE']]


df_cons['YEAR'] = df_cons['TIME_PERIOD'].str[:4].astype(int)

df_cons_annual = df_cons.groupby(['geo', 'YEAR'], as_index=False)['OBS_VALUE'].mean()
df_cons_annual.rename(columns={'YEAR':'TIME_PERIOD', 'OBS_VALUE':'CONS_ELECT_ANNUAL'}, inplace=True)
df_general = pd.merge(df_general, df_cons_annual, on=['geo', 'TIME_PERIOD'], how='left')

df_siec = pd.merge(df_siec, df_cons_annual, on=['geo', 'TIME_PERIOD'], how='left')

df_general.to_csv("df_general.csv", index=False)
df_siec.to_csv("df_siec.csv", index=False)

C:\Users\joelm\AppData\Local\Temp\ipykernel_7488\1242985413.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cons['YEAR'] = df_cons['TIME_PERIOD'].str[:4].astype(int)

#### Adding transport data

In [ ]:
df_trans = pd.read_csv("Data/tran_hv_ms_psmod__custom_17994094_linear_2_0.csv", encoding='utf-8')  
df_trans

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,vehicle,Vehicles,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,AC,Aircraft,PC,Percentage,AT,Austria,2008,NaN,16.3,NaN,e,estimated,NaN,NaN
1,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,AC,Aircraft,PC,Percentage,AT,Austria,2009,NaN,15.9,NaN,e,estimated,NaN,NaN
2,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,AC,Aircraft,PC,Percentage,AT,Austria,2010,NaN,16.9,NaN,e,estimated,NaN,NaN
3,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,AC,Aircraft,PC,Percentage,AT,Austria,2011,NaN,17.7,NaN,e,estimated,NaN,NaN
4,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,AC,Aircraft,PC,Percentage,AT,Austria,2012,NaN,18.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,TRN,Trains,PC,Percentage,SK,Slovakia,2019,NaN,8.6,NaN,e,estimated,NaN,NaN
2396,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,TRN,Trains,PC,Percentage,SK,Slovakia,2020,NaN,6.5,NaN,e,estimated,NaN,NaN
2397,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,TRN,Trains,PC,Percentage,SK,Slovakia,2021,NaN,5.6,NaN,e,estimated,NaN,NaN
2398,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,TRN,Trains,PC,Percentage,SK,Slovakia,2022,NaN,7.5,NaN,e,estimated,NaN,NaN
2399,dataflow,ESTAT:TRAN_HV_MS_PSMOD(1.0),"Modal split of air, sea and inland passenger t...",A,Annual,TRN,Trains,PC,Percentage,SK,Slovakia,2023,NaN,7.7,NaN,e,estimated,NaN,NaN

In [ ]:
df_trans = df_trans[['geo', 'TIME_PERIOD', 'vehicle', 'OBS_VALUE']]

df_trans_pivot = df_trans.pivot_table(
    index=['geo', 'TIME_PERIOD'],
    columns='vehicle',
    values='OBS_VALUE',
    aggfunc='sum'
)
df_trans_pivot.columns = [f"TRANS_{col}" for col in df_trans_pivot.columns]
df_trans_pivot.reset_index(inplace=True)

df_general = df_general.merge(df_trans_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_siec = df_siec.merge(df_trans_pivot, on=['geo', 'TIME_PERIOD'], how='left')

df_general.to_csv("df_general.csv", index=False)
df_siec.to_csv("df_siec.csv", index=False)

## Final Datasets

### df_general

In [ ]:
df_general.columns.tolist()

['geo',
 'TIME_PERIOD',
 'AFC',
 'DL',
 'FC_E',
 'FC_IND_E',
 'FC_OTH_E',
 'FC_TRA_E',
 'GEP',
 'GEP_MAPCHP',
 'GEP_MAPE',
 'GHP',
 'GHP_MAPCHP',
 'PIB_real_MEUR',
 'PIB_real_NAC',
 'PIB_growth_pct',
 'EMI_CH4',
 'EMI_CH4_CO2E',
 'EMI_CO2',
 'EMI_GHG',
 'EMI_N2O',
 'EFF_PEC_EED',
 'CONS_ELECT_ANNUAL',
 'TRANS_AC',
 'TRANS_BUS_TOT',
 'TRANS_CAR',
 'TRANS_SEAV',
 'TRANS_TRN']

### Variables

| Column              | Description                                                               |
| ------------------- | ------------------------------------------------------------------------- |
| `geo`               | Country code (ISO 2-letter, e.g., ES for Spain, FR for France)            |
| `TIME_PERIOD`       | Year of observation                                                       |
| `AFC`               | Final energy consumption by fuel (all sectors)                            |
| `DL`                | Domestic energy losses (distribution, transformation, etc.)               |
| `FC_E`              | Final energy consumption (total)                                          |
| `FC_IND_E`          | Final energy consumption in industry sector                               |
| `FC_OTH_E`          | Final energy consumption in other sectors (residential, services, etc.)   |
| `FC_TRA_E`          | Final energy consumption in transport sector                              |
| `GEP`               | Gross electricity production (all sources)                                |
| `GEP_MAPCHP`        | Gross electricity production from combined heat & power (CHP)             |
| `GEP_MAPE`          | Gross electricity production from renewable sources                       |
| `GHP`               | Gross heat production                                                     |
| `GHP_MAPCHP`        | Gross heat production from combined heat & power (CHP)                    |
| `PIB_real_MEUR`     | Real GDP in million euros (chain-linked volumes, reference year 2020)     |
| `PIB_real_NAC`      | Real GDP in national currency (chain-linked volumes, reference year 2020) |
| `PIB_growth_pct`    | Annual GDP growth rate (%)                                                |
| `EMI_CH4`           | Methane (CH₄) emissions                                                   |
| `EMI_CH4_CO2E`      | Methane (CH₄) emissions expressed in CO₂ equivalents                      |
| `EMI_CO2`           | Carbon dioxide (CO₂) emissions                                            |
| `EMI_GHG`           | Total greenhouse gas (GHG) emissions                                      |
| `EMI_N2O`           | Nitrous oxide (N₂O) emissions                                             |
| `EFF_PEC_EED`       | Primary energy consumption efficiency (energy efficiency indicators, EED) |
| `CONS_ELECT_ANNUAL` | Annual electricity consumption (households & industry)                    |
| `TRANS_AC`          | Passenger transport by aircraft (% of total passenger-km)                 |
| `TRANS_BUS_TOT`     | Passenger transport by bus (total, % of passenger-km)                     |
| `TRANS_CAR`         | Passenger transport by car (total, % of passenger-km)                     |
| `TRANS_SEAV`        | Passenger transport by sea & inland waterways (% of passenger-km)         |
| `TRANS_TRN`         | Passenger transport by train (% of passenger-km)                          |